/*.fitter-happier {
	max-width: 45rem;
}*/


.bottom-controls {
/*	padding: 100px;
	margin-left: 100px;*/
}

/*.button-controls {
	margin-right: 124px;
}

.grid-controls {
	padding-right: 124px;
}

p {
	padding-left: 120px;
}*/