/*///////////////////////////////////////////*/
/*//The guts*/ 

body {
  background: #333;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  color: rgba(255,255,255,.8);
  font-family: 'Avenir Next', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1.5;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

.active {
  visibility: visible !important;
  overflow: hidden;
  z-index: 999;
}

header {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  font-size: 0.68em;
  line-height: 2.2;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  margin: 0 auto;
  max-width: 66rem;
}

.decoration-top {
  border-top: 15px solid rgba(0,0,0,.2);
}

.decoration-bottom {
  border-bottom: 15px solid rgba(0,0,0,.2);
  padding-bottom: 60px;
}

.paragraph-padding {
  padding-top: 30px;
  padding-bottom: 10px;
}

p {
  flex:1;
}

.h2-padding {
  padding-top: 40px;
}

.fitter-happier {
  max-width: 66rem;
  width: 80%;
}

#text-padding {
  padding-bottom: 150px;
}

/*///////////////////////////////////////////*/
/*//Cards*/ 

.card {
  padding-top: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: scroll;
  padding-top: 50px;
  text-align: center;
  top: 0;
  visibility: hidden;
 /* transition: .5s cubic-bezier(0.13, 1.13, 1, 1);*/
 transition: .5s cubic-bezier(0.39, 0.58, 0.57, 1);
 /* transform: translate3d(0,0,0);
  transform-style: preserve-3d;*/
  /*transition: .5s linear;*/
}

#card-1 {
  font-family: 'Avenir Next', sans-serif;
  font-weight: 600;
  background: #60d7a9;
}

#card-2 {
  font-family: 'Cardo', serif;
  background: #7bb7fa;
}

#card-3 {
  font-family: 'Merriweather', sans-serif;
  background: #0ac2d2;
}

#card-4 {
  font-family: 'Droid Sans', sans-serif;
  background: #fdc162;
}

#card-5 {
  font-family: 'Arvo', serif;
  background: #84c884;
}

#card-6 {
  font-family: 'Lato', sans-serif;
  background: #6d62ab;
}

#card-7 {
  font-family: 'PT Sans', sans-serif;
  background: #52c9f4;
}

#card-8 {
  font-family: 'Ubuntu', sans-serif;
  background: #f9a224;
}

#card-9 {
  font-family: 'Josefin Slab', serif;
  background: #4c52a3;
}

#card-10 {
  font-family: 'Vollkorn', serif;
  background: #333;
}

/*///////////////////////////////////////////*/
/*//Psuedo classes*/ 

a {
  color: rgba(0,0,0,.6);
  transition: color .1s ease-out;
  text-decoration: none;
  background-image: linear-gradient(transparent 50%, rgba(0,0,0,.6) 50%);
  background-size: 4px 4px;
  background-position: 0 1.125em;
  background-repeat: repeat-x;
}

a:hover {
  color: white; 
  background-image: linear-gradient(transparent 50%, white 50%);
}

button {
  cursor: pointer;
  display: inline-block;
  background-color: rgba(255,255,255,0.5);
  width: 40px;
  height: 40px;
  border-radius: 3px;
  border: none;
}

button:hover {
    background-size: contain;
    text-decoration: none;
    -webkit-transform: scale(1.0625);
    -ms-transform: scale(1.0625);
    transform: scale(1.0625);
}

button:focus {
  outline:0;
  box-shadow: 0 0 0 2px rgba(0,0,0,.10);
}

button:active {
  -webkit-transform: scale(0.9375);
  -ms-transform: scale(0.9375);
  transform: scale(0.9375);
}

a.top_button:hover {
  color: rgba(0,0,0,.6);
  text-decoration: none;
  background-size: contain;
}

a.top_button:focus {
  color: black;
  text-decoration: none;
}

.twitter {
  height: 30px;
  font-weight: 900;
  width: 80px;
}

.dribbble {
  height: 30px;
  margin-right: 3px;
  font-weight: 900;
  width: 80px;
}

a.dribbble:hover {
  height: 30px;
  margin-right: 3px;
  font-weight: 900;
  width: 80px;
  text-decoration: none;
  background-size: contain;
}

/*///////////////////////////////////////////*/
/*svg icons nested inside the buttons*/

.icon {
  position: relative;
  pointer-events: none;
  fill: currentcolor;
  top: .6em;
  left: .5em;
}

/*///////////////////////////////////////////*/
/*top navigation*/

.top-controls {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
  max-width: 65rem;
  padding: 10px;
}

.top-nav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 50px;
  font-size: 0.68em;
  background: rgba(255, 255, 255, 0.1);
}

/*///////////////////////////////////////////*/
/*bottom navigation*/


.bottom-controls {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 65rem;
  padding: 20px;
}

.bottom-nav {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100px;
  background-color: rgba(0,0,0,.8)
}

@media (max-width: 1080px) {
.grid-controls {
  padding-right: 37px;
  }
}

.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  transition: .5s cubic-bezier(0.76, -0.07, 0.52, 0.96);
}

.moveToLeft {
  -webkit-animation: moveToLeft .5s cubic-bezier(0.76, -0.07, 0.52, 0.96);
  animation: moveToLeft .5s cubic-bezier(0.76, -0.07, 0.52, 0.96);
}

.moveFromLeft {
  -webkit-animation: moveFromLeft .5s cubic-bezier(0.76, -0.07, 0.52, 0.96);
  animation: moveFromLeft .5s cubic-bezier(0.76, -0.07, 0.52, 0.96);
}

.moveToRight {
  -webkit-animation: moveToRight .5s cubic-bezier(0.76, -0.07, 0.52, 0.96);
  animation: moveToRight .5s cubic-bezier(0.76, -0.07, 0.52, 0.96);
}
/*cubic-bezier(0.76, -0.07, 0.52, 0.96);*/
.moveFromRight {
  -webkit-animation: moveFromRight .5s cubic-bezier(0.76, -0.07, 0.52, 0.96);
  animation: moveFromRight .5s cubic-bezier(0.76, -0.07, 0.52, 0.96);
}

@-webkit-keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight { 
  from { }
  to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight { 
  from { }
  to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

/*.pt-page-moveToTop {
  -webkit-animation: moveToTop .6s ease both;
  animation: moveToTop .6s ease both;
}

.pt-page-moveFromTop {
  -webkit-animation: moveFromTop .6s ease both;
  animation: moveFromTop .6s ease both;
}

.pt-page-moveToBottom {
  -webkit-animation: moveToBottom .6s ease both;
  animation: moveToBottom .6s ease both;
}

.pt-page-moveFromBottom {
  -webkit-animation: moveFromBottom .6s ease both;
  animation: moveFromBottom .6s ease both;
}*/
