/*///////////////////////////////////////////*/
/*//The guts*/ 

body {
  background: #333;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  color: rgba(255,255,255,.8);
  font-family: 'Avenir Next', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1.5;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

.wrapper {
  padding: 50px;
  border: 15px solid rgba(0,0,0,.2);
  transition: width .2s ease-out;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  max-width: 65rem;
}

.active {
  visibility: visible !important;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  font-size: 0.68em;
  line-height: 2.2;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  margin: 0 auto;
  max-width: 65rem;
}

.decoration-top {
  border-top: 15px solid rgba(0,0,0,.2);
  height: 200px;
  padding-bottom: 20px;

}

.decoration-bottom {
  border-bottom: 15px solid rgba(0,0,0,.2);
  padding-bottom: 20px;
}

.paragraph-padding {
  padding: 30px;
}

p {
  flex:1;
}

.fitter-happier {
  max-width: 65rem;
  width: 80%;
  padding-right: 20px;
}

#text-padding {
  padding-bottom: 150px;
}

/*///////////////////////////////////////////*/
/*//Cards*/ 

.card {
  padding-top: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: scroll;
  padding-top: 50px;
  text-align: center;
  top: 0;
  left:0;
  /*left: -2000px;*/
  visibility: hidden;
  overflow: hidden;
  transition: .5s linear;
}

#card-1 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
  background: #0ac2d2;
}

#card-2 {
  font-family: 'Abril Fatface', cursive, sans-serif;
  background: #7bb7fa;
}

#card-3 {
  background: #60d7a9;
}

#card-4 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  background: #fdc162;
}

#card-5 {
  font-family: 'Arvo', serif;
  font-weight: 700;
  background: #84c884;
}

#card-6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background: #6d62ab;
}

#card-7 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  background: #52c9f4;
}

#card-8 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  background: #f9a224;
}

#card-9 {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  background: #4c52a3;
}

#card-10 {
  font-family: 'Vollkorn', serif;
  font-weight: 700;
  background: #333;
}

/*///////////////////////////////////////////*/
/*//Psuedo classes*/ 

a {
  color: rgba(0,0,0,.6);
  transition: color .1s ease-out;
  text-decoration: none;
  background-image: linear-gradient(transparent 50%, rgba(0,0,0,.6) 50%);
  background-size: 4px 4px;
  background-position: 0 1.125em;
  background-repeat: repeat-x;
}

a:hover {
  color: white; 
  background-image: linear-gradient(transparent 50%, white 50%);
}

button {
  cursor: pointer;
  display: inline-block;
  background-color: rgba(255,255,255,0.5);
  width: 40px;
  height: 40px;
  border-radius: 3px;
  border: none;
}

button:hover {
    text-decoration: none;
    -webkit-transform: scale(1.0625);
    -ms-transform: scale(1.0625);
    transform: scale(1.0625);
}

button:focus {
  outline:0;
  /*border-radius: 3px;*/
  box-shadow: 0 0 0 2px rgba(0,0,0,.10);
}

button:active {
  -webkit-transform: scale(0.9375);
  -ms-transform: scale(0.9375);
  transform: scale(0.9375);
}

.twitter {
  height: 30px;
  font-weight: 900;
  width: 80px;
}

.dribbble {
  height: 30px;
  margin-right: 3px;
  font-weight: 900;
  width: 80px;
}

/*///////////////////////////////////////////*/
/*svg icons nested inside the buttons*/

.icon {
  position: relative;
  pointer-events: none;
  fill: currentcolor;
  top: .6em;
  left: .5em;
}

/*///////////////////////////////////////////*/
/*top navigation*/

.top-controls {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
  max-width: 65rem;
  padding: 10px;
}

.top-nav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 50px;
  font-size: 0.68em;
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 1080px) {
.top-nav {
  padding-right: 37px;
  }
}

/*///////////////////////////////////////////*/
/*bottom navigation*/

@media (max-width: 1080px) {
.bottom-controls {
  padding: 100px;
  margin-left: 100px;
  }
}

.bottom-controls {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 65rem;
  padding: 20px;
}

.bottom-nav {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100px;
  background-color: rgba(0,0,0,.9)
}

@media (max-width: 1080px) {
.grid-controls {
  padding-right: 37px;
  }
}
